python-dotenv

#for broswer
requests
selenium-wire
beautifulsoup4
pymongo

#for api server
flask
jinja2
blinker==1.7.0

#for azure_ocr
# azure-cognitiveservices-vision-computervision
# pillow
# azure-ai-vision-imageanalysis
# alibabacloud_green20220302==2.20.0
# oss2
# MarkupSafe
# accelerate

#for ocr server
paddlepaddle
paddleocr
opencv-python
opencv-python-headless
numpy
pydantic
python-multipart
#conda install paddlepaddle==3.0.0 -c paddle



